	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: 'Open Sans', sans-serif;
		list-style: none;
		text-decoration: none;
	}

	body{
		background: #ffffff;
		color: #111111;
	}

	/* Home section */
	#header{
		width: 100%;
		top: 0;
		right: 0;
		z-index: 100;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #f9f4f1;
		padding: 10px 14%;
		transition: all .35s ease;
	}
	.brand{
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #111111;
	}
	.navli{
		display: flex;
	}
	.navli a{
		color: #111111;
		font-weight: 600;
		padding: 10px 25px;
		font-size: 1rem;
		transition: all .36s ease;
	}
	.navli a:hover{
		color: #c8815f;
	}
	.header-icons i{
		font-size: 32px;
		color: #111111;
		margin-right: 20px;
		transition: all .36s ease;
	}
	.header-icons i:hover{
		color: #c8815f;
	}
	#menu-icon{
		font-size: 34px;
		color: #111111;
		z-index: 1000;
		margin-right: 20px;
		display: none;
	}

	section{
		padding: 100px 14%;
	}
	.home{
		min-height: 100vh;
		width: 100%;
		background: url("https://plus.unsplash.com/premium_photo-1661501678867-f9a0ae7783ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
		background-size: cover;
		background-position: center top;
		position: relative;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		align-items: center;
	}
	.home-text{
		background-color: rgb(249, 244, 241, 0.7);
	}
	.home-text h1{
		font-size: 4.5rem;
		font-weight: 800;
		line-height: 1.2;
		letter-spacing: .6rem;
		margin-bottom: 1.4rem;
	}
	.home-text span{
		font-size: 3.3rem;
	}
	.home-text p{
		font-size: 1.5rem;
		font-weight: 500;
		margin-bottom: 3rem;
		letter-spacing: .2rem;
	}
	.btn{
		display: inline-block;
		padding: 13px 25px;
		background: #c8815f;
		color:  #ffffff;
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 600;
		border-radius: 5px;
		transition: all .35s ease;
	}
	.btn:hover{
		transform: translateY(-5px);
		background: #ffc11a;
		color: #000;
	}

	header.sticky{
		background:  #ffffff;
		padding: 14px 14%;
		box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
	}
	/* End home section */

	/* Products section */
  	.img{
    width: 250px;
    height: 350px;
    background-color: rgb(224, 224, 224);
	}
	.img:hover{
	transform: scale(1.1);
	}

	button:hover{
	transform: scale(1.1);
	cursor: pointer;
	}

	/* Cart section */
	.cart-header {
		font-weight: bold;
		font-size: 1.25em;
		color: #333;
	}

	.cart-column {
		display: flex;
		align-items: center;
		border-bottom: 1px solid black;
		margin-right: 1.5em;
		padding-bottom: 10px;
		margin-top: 10px;
	}

	.cart-row {
		display: flex;
	}

	.cart-item {
		width: 45%;
	}

	.cart-price {
		width: 20%;
		font-size: 1.2em;
		color: #333;
	}

	.cart-quantity {
		width: 35%;
	}

	.cart-item-title {
		color: #333;
		margin-left: .5em;
		font-size: 1.2em;
	}

	.cart-item-image {
		width: 75px;
		height: auto;
		border-radius: 10px;
	}

	.btn-danger {
		color: white;
		background-color: #EB5757;
		border: none;
		border-radius: .3em;
		font-weight: bold;
	}

	.btn-danger:hover {
		background-color: #CC4C4C;
	}

	.cart-quantity-input {
		height: 34px;
		width: 50px;
		border-radius: 5px;
		border: 1px solid #56CCF2;
		background-color: #eee;
		color: #333;
		padding: 0;
		text-align: center;
		font-size: 1.2em;
		margin-right: 25px;
	}

	.cart-row:last-child {
		border-bottom: 1px solid black;
	}

	.cart-row:last-child .cart-column {
		border: none;
	}

	.cart-total {
		text-align: end;
		margin-top: 10px;
		margin-right: 10px;
	}

	.cart-total-title {
		font-weight: bold;
		font-size: 1.5em;
		color: black;
		margin-right: 20px;
	}

	.cart-total-price {
		color: #333;
		font-size: 1.1em;
	}

	.btn-purchase {
		display: block;
		margin: 40px auto 80px auto;
		font-size: 1.75em;
	}
	/* End of Cart section */

	/* Contact-form section */

	#contact-form{
		padding-top: 30px;
		background-color: #f9f4f1;
		padding-bottom: 30px;
	}

	/* Footer */
	.contact{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, auto));
		gap: 2rem;
	}
	.main-contact h3{
		font-size: 23px;
		margin-bottom: 1.6rem;
	}
	.main-contact h5{
		font-size: 15px;
		font-weight: 600;
		color: #555;
	}
	.icons{
		display: flex;
		margin-top: 2rem;
	}
	.icons i{
		font-size: 25px;
		margin-right: 1rem;
		color: #555;
		transition: all .35s ease;
	}
	.icons i:hover{
		transform: scale(1.1) translateY(-5px);
	}
	.main-contact li{
		margin-bottom: 15px;
	}
	.main-contact li a{
		display: block;
		color: #555;
		font-size: 1rem;
		font-weight: 600;
		transition: all .35s ease;
	}
	.main-contact li a:hover{
		transform: translateX(-8px);
	}

	.last-text{
		text-align: center;
		padding: 20px;
		background: #111111;
	}
	.last-text p{
		color: #f9f4f1;
		font-size: 14px;
		letter-spacing: 1px;
	}

	/* End of footer */